@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-family: 'Rajdhani', sans-serif;
}

/* Header Section */

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: rgba(12, 181, 239, 1);
  height: 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.logo img{
    width: 75px;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#home,
#about,
#contact {
  border-radius: 5px;
  padding: 5px 8px;
}

#home {
  border: 1px solid #1bf5af;
}

#about {
  border: 1px solid #1bf5af;
}

#contact {
  border: 1px solid #1bf5af;
}

#about a {
  color: #1bf5af;
}

#home a {
  color: #1bf5af;
}

#contact a {
  color: #1bf5af;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1rem;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #565759;
}

.mobile-menu li {
  margin-bottom: 10px;
}

header nav {
  display: none;
}

#hamburger-icon {
  display: block;
}

/* Landing Page Section */



/* Landing Section */

.landing-section{
    padding: 2% 7% 2% 7%;
}


.landing-section h1{
    font-size: 1.8em;
    margin-top: 20px;
    line-height: 1.3em;
    font-weight: 800;
}

.landing-section h2{
    font-size: .9em;
    line-height: 1.7em;
    margin-bottom: 30px;
    margin-top: 30px;
}

  .landing-section button{
    width: 40%;
    border-radius: 8px;
    border: 0;
    padding: .8em;
    background-color: #e74c3c;
    color: white;
    font-size: 12px;
  }

  .landing-container img{
    width: 100%;
  }

  /* What We Do Section */

  .what-we-do-section{
    padding-top: 6rem;
    padding-bottom: 5rem;
  }

  .what-we-do-title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.1em;
    font-weight: 900;
    padding-bottom: 1em;
  }

  .what-we-do-title h1{
    margin-right: 10px;
    color: rgba(12, 181, 239, 1);
  }

  .what-we-do-title-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2% 7% 2% 7%;
    color: #646464;
  }

  .what-we-do-title-content p{
    font-size: 1.2em;
    line-height: 1.7em;
    padding-top: 1em;
  }

  .what-we-do-content img{
    width: 30%;
  }

  /* What We Do Content */

   .what-we-do-mini{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding: 2% 6% 2% 6%;
   }

   .what-we-do-content{
    padding-top: 1rem;
    padding-bottom: 2rem;
   }

   .what-we-do-content h3{
    font-size: 1.2em;
    font-weight: 900;
    padding-bottom: 1em;
    padding-top: 1em;
  }

   .what-we-do-content p{
    font-size: 1.2em;
    line-height: 1.7em;
    color: #646464;
  }

  .fa-mobile-screen-button{
    color: black;
    font-size: 3.5rem;
  }

  /* Buiness Model Section */

  .business-model-section{
    padding: 2% 7% 2% 7%;    
  }

  .business-model-title img{
    width: 100%;
  }

  .business-model-title h1{
    font-size: 1.3em;
  }

  .business-model-title p{
    font-family: 'Ubuntu';
    padding-top: 1.5rem;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .business-model-title span{
    color: #0092ca;
  }

  .business-model-check{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding: 2% 6% 2% 6%;    
  }

  .list-item-top{
    display: flex;
    padding-bottom: 1rem;
  }

  .list-item-top h1{
    padding-top: .5rem;
    font-size: 1.2rem;
    padding-left: .3rem;
  }

  .list-item-bottom{
    padding-left: 2.4rem;
    padding-bottom: 3rem;
  }

  .business-model-list{
    flex-direction: row;
    padding-top: 2.5rem;
  }

  .business-model-list img{
    width: 12%;
  }

  .list-item-bottom{
    font-size: 1.2rem;
  }

  /* My Portfolio Section */

  .my-portfolio{
    display: flex;
    flex-direction: column;
    padding: 2% 6% 2% 6%;  
  }
  
  .card-break{
    padding: 5% 6% 5% 6%;  
  }

  .portfolio-title{
    text-align: center;
    padding-bottom: 2rem;
  }

  .portfolio-card{
    border-radius: 5%;
    background-color: #ececec;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .portfolio-card img{
    width: 100%;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    text-align: center;
  }

  .portfolio-card h1{
    padding: .8rem;
  }

  .portfolio-card p{
    padding: .8rem;
  } 

  .portfolio-title span{
    color:#0092ca;
  }

  .form-button{
    width: 50%;
    border-radius: 4px;
    border: 0;
    padding: .8em;
    background-color: #0092ca;
    color: white;
  }


  /* For You Section */

  .for-you-section{
    display: flex;
    flex-direction: column;
  }

  .for-you-content p{
    padding-top: 1rem;
    font-family: 'Ubuntu';
    padding-top: 1.5rem;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  .for-you-title{
    display: flex;
    justify-content: center;
  }

  .for-you-title span{
    color: #0092ca;
  }

  .for-you-content img{
    width: 100%;
  }

  .for-you-content{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding: 2% 7% 2% 7%;    
  }

  /* Footer Section */

  .footer-section{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #0092ca;
    padding-top: 2rem;
  }

  .footer h1{
    font-size: 1.5rem;
    font-family: 'Rajdhani', sans-serif;
    font-weight: lighter;
    color: #e0e0e0;
    letter-spacing: .1rem;
  }

  .footer p{
    padding-top: .5rem;
    font-size: .7rem;
    color: white;
    font-weight: bold;
    padding: 2% 7% 2% 7%;
  }

  .fa-brands{
    color: white;
    font-size: 2em;
  }
